# Copyright (c) 2025 Ovyl
# SPDX-License-Identifier: Apache-2.0

menu "Zmod Modules"

rsource "../bt/Kconfig"
rsource "../config/Kconfig"
rsource "../iwdog/Kconfig"
rsource "../logging/Kconfig"

endmenu